:root {
  --primary: #edd4fa;
  --secondary: #b0e2cb;
  --tertiary: #acdff7;
  --light: #fbfbfb;
  --dark: #0d2630;
  --error: rgb(228, 46, 1);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 16px;
  color: var(--light);
  background-color: var(--secondary);
  background-image: url("./assets/images/backgroundimage0.jpg");
}

h1,
h3,
h4,
h5,
h6 {
  display: block;
  font-family: "Codystar", sans-serif;

  margin: 0px 0;
  line-height: 1.25;
  color: var(--light);
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 1rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--secondary);
  cursor: pointer;
}

header {
  background: var(--tertiary);
}

header a {
  color: var(--secondary);
}

button {
  font-family: "DotGothic16";
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: var(--light);
  background-color: var(--primary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 70%;
}

span[role="img"] {
  cursor: default;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.productItem {
  text-align: center;
  padding: 1rem;
}

.nav {
  background-color: var(--secondary);
  padding: 0;
  margin-top: 0;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.container {
  max-width: 30%;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  body {
  }
} ;
