:root {
  --primary: #edd4fa;
  --secondary: #b0e2cb;
  --tertiary: #acdff7;
  --light: #fbfbfb;
  --dark: #0d2630;
  --error: rgb(228, 46, 1);
}

* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", serif;

  line-height: 1.5;
  font-size: 16px;
  color: var(--light);
  background-color: var(--light);
  background-image: url("./assets/images/backgroundimage0.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Codystar", sans-serif;
  margin: 0px 0;
  line-height: 1.25;
  color: var(--light);
}

h1 {
  display: inline;
  font-size: 4vmax;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2vmax;
}

h3 {
  font-size: 2.5vmax;
  text-align: center;
  margin-top: 1rem;
}

h4 {
  font-size: 1.5vmax;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 1.2vmax;
}

h6 {
  font-size: 1.2vmax;
}

p {
  font-size: 1vmax;
  margin-top: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--tertiary);
  cursor: pointer;
}

header {
}

header a {
  color: var(--secondary);
}

button {
  font-family: "DotGothic16";
  font-size: 1vmax;
  text-decoration: none;
  margin-bottom: 2vmax;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;

  color: var(--light);
  background-color: var(--primary);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 70%;
}

span[role="img"] {
  cursor: default;
}

input {
  font-family: "DotGothic16";
  font-size: 0.8rem;
  padding: 0.3rem;
  border: 1px solid var(--tertiary);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.productItem {
  text-align: center;
  padding: 0.5rem;
  max-width: 20vmax;
}
.productItem img {
}

.nav {
  display: flex;
  padding: 0.2rem;
  float: inline-end;
  background-color: rgba(176, 226, 203, 0.8);
}
.navlogo {
  display: flex;
  margin: 2rem;
}
.navlogin,
.navlogin li {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}
.navcard {
  background-image: url("./assets/images/backgroundimagenav.jpg");
  width: 99vmax;
}
.logincard {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.logintitle {
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 18%;
}
.sp-description {
  margin-left: 2vmax;
  justify-content: center;
  align-items: center;
}
.sp-title {
  display: block;
  margin-right: 2vmax;
}
.sp-card {
}
.sp-container {
}
.spimage {
  max-width: 60vh;
  display: block;
}
.sp-addprice {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#categorylist {
  font-family: "DotGothic16";
  font-size: 1vmax;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: var(--light);
  background-color: var(--primary);
}
.categorydiv {
  padding: 1rem;
}
.cart img {
  max-width: 20vw;
  padding: 1vmax;
}
.cartdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.cartdiv p {
  display: block;
}
.cart {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
form {
  font-family: "DotGothic16";
  font-size: 1rem;
  text-decoration: none;

  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: var(--light);
}

.sp-container {
}
.sp-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6vmax;
  }
  h5 {
    font-size: 3.5vmax;
  }
  h6 {
    font-size: 3vmax;
  }
  .productItem img {
    max-width: 15vmax;
  }
  .productItem h5 {
    font-size: 2vmax;
  }
  .cartdiv img {
    min-width: 20vmax;
  }
} ;
